{% extends 'base.html.twig' %}

{% block title %}Modifier un étudiant{% endblock %}

{% block body %}
    <h1>Modifier un Etudiant</h1>

    {{ include('admin/etudiant/_form.html.twig', {'button_label': 'Confirmer'}) }}

    <a class="btn btn-secondary" href="{{ path('etudiant_affiche') }}">retour à la liste</a>

    {{ include('admin/etudiant/_delete_form.html.twig') }}
{% endblock %}
