{% extends 'base.html.twig' %}

{% block title %}Modifier un enseignant{% endblock %}

{% block body %}
    <h1>Modifier un Enseignant</h1>

    {{ include('admin/etudiant/_form.html.twig', {'button_label': 'Confirmer'}) }}

    <a href="{{ path('etudiant_affiche') }}">retour à la liste</a>

    {{ include('admin/etudiant/_delete_form.html.twig') }}
{% endblock %}
