{% extends 'base.html.twig' %}

{% block title %}Nouveau Module{% endblock %}

{% block body %}
    <h1>Créer un nouveau module</h1>

    {{ include('module/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('admin_index') }}">Retour à la liste</a>
{% endblock %}
