{% extends 'base.html.twig' %}

{% block title %}Edit Controle{% endblock %}

{% block body %}
    <h1>Edit Controle</h1>

    {{ include('prof/controle/_form.html.twig', {'button_label': 'Confirmer'}) }}

    <a class="btn btn-secondary" href="{{ path('controle_index') }}">Retour</a>

    {{ include('prof/controle/_delete_form.html.twig') }}
{% endblock %}
