{% extends 'base.html.twig' %}

{% block title %}Nouveau Contrôle{% endblock %}

{% block body %}
    <h1>Ajouter un contrôle</h1>

    {{ include('prof/controle/_form.html.twig') }}

    <a href="{{ path('controle_index') }}">Retour à la liste</a>
{% endblock %}
