<form method="post" action="{{ path('prof_delete', {'id': prof.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet enseignant?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prof.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
